<!DOCTYPE html>
<html>
<head>
  <title>AppTool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <h1>App Marketing Tool</h1>
    <% if session[:uid] %>
        <%= link_to "Logout", logout_url, :method => :delete %>
    <% else %>
        <%= link_to "Create Account", new_user_url %>
    <% end %>
</div>

  <% if flash[:notice].present? %>
    <p><%= flash[:notice] %></p>
    <% end %>


<%= yield %>
</body>
</html>
